body {
  margin: 0;
  padding: 0;
  background: black;
}
.foot {
  background-image: url("https://seasons-project.ru/wp-content/uploads/2023/11/dscf2025-2-scaled.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 150px;
  overflow-x: hidden;
}
.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: -15px;
  gap: 5px;
}
.about-us h1 {
  font-size: 20px;
}
.about-us h3 {
  font-size: 10px;
  margin-top: -30px;
}
.company {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: -15px;
  gap: 5px;
}
.company h1 {
  font-size: 20px;
}
.company h3 {
  font-size: 10px;
  margin-top: -30px;
}
.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: -15px;
  gap: 5px;
}
.contact h1{
   font-size: 20px;
}
.contact h3 {
font-size: 10px;
  margin-top: -30px;

}
