body {
  margin: 0;
  padding: 0;
  background: black;
}
.foot {
  background-image: url("https://seasons-project.ru/wp-content/uploads/2023/11/dscf2025-2-scaled.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  padding: 20px 0; 
  margin: 0;
  width: 100%;

}
.foot h3{
  display: flex;
  flex-direction: column;
  gap: 15px;
} 
.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
  
  gap: 5px;
}
.about-us h1 {
  font-size: 20px;
}
.about-us h3 {
  font-size: 10px;
  
}
.company {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
  
  gap: 5px;
}
.company h1 {
  font-size: 20px;
}
.company h3 {
  font-size: 10px;
  
}
.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden;
  
  gap: 5px;
}
.contact h1{
   font-size: 20px;
}
.contact h3 {
font-size: 10px;
 

}
