.kitchen-header{
  background-image: url("https://storage.yandexcloud.net/incrussia-prod/wp-content/uploads/2020/11/iStock-1175505781.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 210px;
   overflow-x: hidden;
}
.happy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -170px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.happy:hover {
  color: aqua;
}
.content {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.content h1:hover {
  color: aqua;
}
.button button {
  background-color: aqua;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin-left: 100px;
  font-size: 20px;
}
.button button:hover{
    color: azure;
}
.icon .material-icons {
  font-size: 36px;
  color: white;
  margin-top: 20px;
}
.icon{
    color: black;
}
